*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Barlow', sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
h1, h2, h3{
  font-family: 'Great Vibes', cursive;
}

nav{
  background-color:   #313539;
}

li{
  list-style-type: none;
  margin-bottom: 5px;
  font-weight: bolder;
}

span{
  font-weight: normal;
}

.lien{
  border-left: 2px solid #87b4f2;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.me{
  background-color:  #87b4f2;
}

.menu{
  width: 20%;
  color: white;
}
.container{
  width: 60%;
}
.trait{
  border-top: 1px solid rgba( 151, 153, 155, 0.5);
}
