/*All\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
*{
  margin: 0px;
}
html{
  font-size: 62.5%;
}
body{
  height: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  background-image: url(../img/fondopa.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}

/*Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
header{
  width: 100%;
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 360px;
  text-align: center;
}
h1{
  font-size: 6rem;
  color: white;
}

.titre{
  height: 200px;
  padding-top:100px;
}
.titre p{
  font-size: 3.6rem;
  color: white;
}
a{
  text-decoration: none;
  color: inherit;
}
nav p:first-child a{
  border-radius: 3px 0 0 3px;
}
nav p:last-child a{
  border-radius: 0 3px 3px 0;
}
nav{
  background: linear-gradient(deepskyblue, dodgerblue);
  height: 60px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 3px;
  padding: 0 0 10px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,
                0 -1px 0 hsl(210, 100%, 32%) inset,
                0 -2px 0 hsl(210, 100%, 38%) inset,
                0 -3px 0 hsl(210, 100%, 44%) inset,
                0 -4px 0 hsl(210, 100%, 50%) inset,
                0 -5px 0 hsl(210, 100%, 60%) inset;
}
nav p:nth-child(1){
  border-left: 2px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(2){
  border-left: 1px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(3){
  text-align: center;
  border-left: 1px solid white;
  border-right: 2px solid white;
}
/*animation padding///////////////////////////////////////////////////////////*/
nav p{
  height: 40px;
  padding-top: 20px;
  display: block;
  text-align: center;
  padding: 8px 8px 17px 8px;
  font-size: 2.2rem;
  color: rgba(0, 0, 0, .7);
  transition: all .3s .1s;
  position: relative;
}

nav p:hover{
  background-color:  #2d96f3;
  box-shadow: 2px 3px 10px  #2d51f3 inset;
  color: white;
  padding: 8px 40px 17px 40px;
  transition: all .3s 0s;
}
/*rond lumineux///////////////////////////////////////////////////////////////*/
nav p::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}
nav p:hover::before{
    background: white;
    box-shadow: 0 0 2px white,
                0 -1px 0 rgba(0, 0, 0, .4);
}

/*Container\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
///////////////////////////////////////////////////////////////////////////////*/
h2{
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 3.6rem;
}
h3{
  font-size: 1.8rem;
  font-weight: bolder;
}

.fa-id-card{
  color:  #9ad2f2;
  width: 50px;
  height: 50px;
  margin-left: 0;
}
h2 .fa-id-card{
  vertical-align:sub;
}

.container{
  margin: auto;
}
.container p{
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.st1, .st3{
  width: 980px;
  margin: auto;
}
.st2 h2, .st2 p{
  width: 980px;
  margin:auto;
  margin-bottom: 20px;
}
/*partie 1////////////////////////////////////////////////////////////////////*/
.image img {
	position: relative;
	top: 0;
  box-shadow: 6px 6px 6px black;
	transition: all 0.3s ease-in;
}

.image img:hover {
top: -35px;
border-radius: 50%;
box-shadow: 10px 10px 35px grey;
}

.image{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.img{
  margin-right: 10px;
}
/*partie 2///////////////////////////////////////////////////////////////////*/
iframe{
  width:100%;
  margin-top: 20px;
}

/*partie 3///////////////////////////////////////////////////////////////////*/

.imgform{
  display: inline-flex;
}

form{
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 500px;
  margin-left: 50px;
}
input::placeholder, textarea::placeholder{
  color: rgba(0,0,0,0.8);
  font-size: 1.6rem;
  font-weight: bold;
}
input{
  height: 55px;
  margin-bottom: 15px;
  font-size: 1.6rem;
}

textarea{
  margin-bottom: 15px;
  height: 165px;
  font-size: 1.6rem;
}

.button{
  height: 55px;
  width: 160px;
  margin: auto;
  border-radius: 25px 25px 25px 25px;
  background-color: #9ad2f2;
  color: white;
  font-size: 1.6rem;
  font-weight: bolder;
  outline: none;
}

.icone1{
  border: 1px solid #242323;
  width: 450px;
  height: 55px;
  color: #242323;
  margin-bottom: 5px;
}

.icone2,.icone3{
  border: 1px solid #242323;
  width: 450px;
  height: 55px;
  color: #242323;
  margin-bottom: 5px;
  margin-top: 5px;
}

.icone4{
  border: 1px solid #242323;
  width: 450px;
  height: 140px;
  color: #242323;
  margin-top: 5px;
}

.text,.mail,.tel{
  border:0;
  width: 405px;
  outline: none;
  background-color: inherit;
}

.area{
  border:0;
  width: 405px;
  margin-top: 5px;
  height: 130px;
  background-color: inherit;
  outline: none;
}
.fa-comment{
  top: -135px;
  position: relative;
}
.fa-user,.fa-envelope,.fa-comment{
  padding: 10px;
  font-size: 15px;
}
.fa-mobile-alt{
  padding: 15px;
  font-size: 15px;
}
/*images animés\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#cf2 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}
#cf2 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
}

#cf2 img.transparent {
opacity:0;
}

@keyframes chgt_image{
0% {
opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf2 img.top {
animation-name: chgt_image;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 6s;
animation-direction: alternate;
}

/*Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
footer{
  width: 100%;
  height: 150px;
  position: absolute;
  background-color: #2d96f3;
  text-align: center;
  margin-top: 80px;
}
span{
  color: white;
  font-size: 4.5rem;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
}
