/*All\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
*{
  margin: 0px;
}
html{
  font-size: 62.5%;
}
body{
  height: 100%;
  font-family: 'Trebuchet MS', sans-serif;
}

/*Header\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
header{
  width: 100%;
  background-image: url(../img/fond.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 360px;
  text-align: center;
}
h1{
  font-size: 6rem;
  color: white;
}

a{
  text-decoration: none;
  color: inherit;

}
nav p:first-child a{
  border-radius: 3px 0 0 3px;
}
nav p:last-child a{
  border-radius: 0 3px 3px 0;
}
nav{
  background: linear-gradient(deepskyblue, dodgerblue);
  height: 60px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  border-radius: 3px;
  padding: 0 0 10px 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .7) inset,
                0 -1px 0 hsl(210, 100%, 32%) inset,
                0 -2px 0 hsl(210, 100%, 38%) inset,
                0 -3px 0 hsl(210, 100%, 44%) inset,
                0 -4px 0 hsl(210, 100%, 50%) inset,
                0 -5px 0 hsl(210, 100%, 60%) inset;
}
nav p{
  height: 40px;
  padding-top: 20px;
  display: block;
  text-align: center;
  padding: 8px 8px 17px 8px;
  font-size: 2.2rem;
  color: rgba(0, 0, 0, .7);
  transition: all .3s .1s;
  position: relative;
}

nav p::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 9px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
}
nav p:hover::before{
    background: white;
    box-shadow: 0 0 2px white,
                0 -1px 0 rgba(0, 0, 0, .4);
}
nav p:hover{
  background-color:  #2d96f3;
  box-shadow: 2px 3px 10px  #2d51f3 inset;
  color: white;
  padding: 8px 40px 17px 40px;
  transition: all .3s 0s;
}
nav p:nth-child(1){
  border-left: 2px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(2){
  border-left: 1px solid white;
  border-right: 1px solid white;
}
nav p:nth-child(3){
  text-align: center;
  border-left: 1px solid white;
  border-right: 2px solid white;
}

.titre{
  height: 200px;
  padding-top:100px;
}
.titre p{
  font-size: 3.6rem;
  color: white;
}

/*Container\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
h2{
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 3.6rem;
}
h3{
  font-size: 1.8rem;
  font-weight: bolder;
}
.container{
  margin: auto;
}
.container p{
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.st1{
  width: 980px;
  margin: auto;
}
.st2 h2, .st2 p{
  width: 980px;
  margin:auto;
  margin-bottom: 20px;
}
.st3{
  width: 980px;
  margin:auto;
}
iframe{
  width:100%;
}
.image{
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.img{
  margin-right: 10px;
}
.imgform{
  display: inline-flex;
}
form{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 430px;
  margin-left: 50px;
}
.profil{
  max-width: 450px;
  max-height: 380px;
}
.button{
  height: 55px;
  width: 160px;
  margin: auto;
  border-radius: 25px 25px 25px 25px;
  background-color: #9ad2f2;
  color: white;
  font-size: 1.6rem;
  font-weight: bolder;
}
input{
  height: 55px;
  margin-bottom: 15px;
}
textarea{
  margin-bottom: 15px;
  height: 165px;
}
.fa-square-full{
  color:  #b8b9bd;
  width: 50px;
  height: 50px;
}
h2 .fa-square-full{
  vertical-align:sub;
}
/*Footer\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
footer{
  width: 100%;
  height: 150px;
  background-color: #2d96f3;
  text-align: center;
  margin-top: 80px;
}
span{
  color: white;
  font-size: 4.5rem;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 50px;
}
