*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #fdf8f2;
}
h1{
  padding-top: 50px;
  margin-bottom: 50px;
}

p{
  margin-bottom: 20px;
  margin-top: 20px;
}

h1, p{
  text-align: center;
}

footer{
  background-color: #686868;
  height: 125px;
}

a{
  text-decoration: none;
  color: #000;
}

footer p{
  text-align: right;
  color: #FFFFFF;
  padding-top: 20px;
  padding-right: 20px;
}

.container{
  height: 525px;
}
.images{
  display: flex;
  justify-content: space-around;
}

.image1{
  margin-left: 300px;
}

.image2{
  margin-right: 300px;
}
.logo, .logobis{
  border: 2px solid black;
}
/*bonus*/
a:active{
  font-size: 250%;
  color: #33CCCC;
}

p {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  50% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
